* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  overscroll-behavior: none;
  overflow-y: scroll;
}
.admin-sidebar{
    width:270px;
    min-height:100vh;
    background:#1F2937;
    color:#fff;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    position:sticky;
    top:0;
    padding:25px 0;
}

.sidebar-logo{
    display:flex;
    align-items:center;
    gap:15px;

    margin-bottom:40px;
}

.sidebar-logo i{
    font-size:28px;

    color:#3B82F6;
}

.sidebar-logo h2{
    font-size:20px;
}

.sidebar-logo span{
    color:#9CA3AF;
    font-size:14px;
}

.admin-sidebar nav{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.admin-sidebar nav a{

    text-decoration:none;

    color:#E5E7EB;

    display:flex;

    align-items:center;

    gap:15px;

    padding:14px 16px;

    border-radius:12px;

    transition:.3s;
}
.admin-sidebar nav a:hover{
    background:#374151;
    color:#fff; 

}
.admin-sidebar nav a.active{
    background:#3B82F6;
    color:#fff; 
}
.admin-sidebar nav i{
    text-align:center;
    width:20px;
    font-size:18px;
}
.sidebar-footer{

    margin-top:40px;

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:20px;

}

.sidebar-footer a{
    text-decoration:none;
    color:#EF4444;
    display:flex;
    gap:12px;
    align-items:center;

}